
.example-container {
  width: 100%;
  height: 100%; 
  background: black;
  color: rgb(255, 255, 255);
}

.forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

h1 {
  color: yellow;
}

.right-aligned-input {
  text-align: right;
  margin-left: auto; 
}
